.pokedex-container {
  display: flex;
  flex-wrap: wrap;
}

.pokemon-card {
  border: 1px solid #eee;
  margin: 10px;
  padding: 10px;
  width: 150px;
  text-align: center;
}

.pokemon-image {
  width: 96px;
  height: 96px;
}

.pokemon-name {
  text-transform: capitalize;
}
